.chat-launcher-icon {
    position: fixed;
    bottom: 4rem;
    right: 1.5rem;
    background-color: #5C2D91;
    color: white;
    border-radius: 50%;
    height: 1.395rem;
    padding: 1rem;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
    transition: background 0.3s ease;
}

 .chat-window {
    position: fixed;
    bottom: 8rem;
    right: 1.5rem;
    width: 21.5rem;
    max-height: 500px;
    background: white;
    border-radius: .75rem;
    box-shadow: 0 .375rem 1.25rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    overflow-y: auto;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    
}