.edit-title {
    font-size: 20px;
    font-weight: bold;
    color: #0A2533;
    margin-bottom: 20px;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
  }
  
  .edit-form label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    color: #0A2533;
  }
  
  .edit-form input,
  .edit-form select {
    margin-top: 5px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .save-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3F5A5B;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  