h2 {
    margin-bottom: 10px;
    color: #0a2533;
  }
  
  input {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
 
  
  .status-message {
    color: green;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }  

.forgot-title {
    margin-bottom: 15px;
    color: #0a2533;
    font-weight: bold;
    font-size: 20px;
  }
  
  .forgot-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .forgot-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .status-message {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .status-message.success {
    color: green;
  }
  
  .status-message.error {
    color: red;
  }
  