.image-wrapper2 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 16px;
  }
  
  /* Input fields styling */
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
  }
  
  /* Style the Sign In button */
  .btn {
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 280px;
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: #333;
  }
  

  /* Sign-in link */
  .login-link {
    font-size: 14px;
    color: #555;
    margin-top: 15px;
    text-align: center;
  }
  
  .login-link span {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-link span:hover {
    text-decoration: underline;
  }